<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640845092407-suq11gvm62lbbgj33k2onb43h7nockt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640845092407-suq11gvm62lbbgj33k2onb43h7nockt2</string>
	<key>API_KEY</key>
	<string>AIzaSyBUdbyWOw0J-KGCZcovusUnvjiZS0beHQg</string>
	<key>GCM_SENDER_ID</key>
	<string>640845092407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testeFlutter</string>
	<key>PROJECT_ID</key>
	<string>wcm-tecnology</string>
	<key>STORAGE_BUCKET</key>
	<string>wcm-tecnology.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640845092407:ios:8aba48000f7df49d2f91b2</string>
</dict>
</plist>